<form class="form-horizontal">
    <div class="control-group">
        <h3>{{ _('Prusa MK3S options') }}</h3>
        <label class="checkbox"><input type="checkbox" data-bind="checked: settings.plugins.prusa_mini_eta.is_silent_enabled">{{ _('Enable The Silent Mode') }}</label>
    </div>
</form>